.chartBlock {
  display: inline-block;
  width: 100%;
}

.chart1 {
  width: 50%;
  float: left;
  text-align: center;
  color: white;
}

.chart2 {
  width: 50%;
  float: right;
  text-align: center;
  color: white;
}

.entry {
  border: 1px solid rgb(114, 166, 226);
  margin-bottom: 10px;
  height: 60px;
  padding: 5px;
}

#deleteButton {
  float: right;
}

.inputFields {
  height: 200px;
}

.fields {
  
}

.ui.form .field>label {
  color: white;
  margin-bottom: 5px;
}

#performance {
  overflow: scroll;
  max-height: 400px;
}


.fieldsLogin {
  width: 100%;
  display: inline-block;
  color: white;
}

.input {
  padding-top: 20px;
  width: 50%;
  float: left;
  text-align: center;
}

.results {
  padding-top: 20px;
  width: 50%;
  float: right;
  text-align: center;
}

#root {
  width: 100%;
}

.cooperResult {
  margin-top: 30%;
  text-align: center;
}

#dividerTopBottom {
  border-top: 1px solid rgba(166, 168, 172, 0.15);
  border-bottom: 1px solid rgba(166, 168, 172, 0.15);
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#divider {
  margin-top: 10px;
  border-top: 1px solid rgba(166, 168, 172, 0.15);
}
