.chartBlock {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.chart1 {
  width: 50%;
  float: left;
  text-align: center;
  color: white;
  padding: 10px;
}

.chart2 {
  width: 50%;
  float: right;
  text-align: center;
  color: white;
  padding: 10px;
}

.entry {
  text-align: left;
  border: 1px solid rgba(255, 235, 205, 0.329);
  margin-bottom: 10px;
  height: 60px;
  padding: 5px;
}

#deleteButton {
  float: right;
}

.inputFields {
  height: 200px;
}

.ui.form {
  width: 90%;
}

.ui.form .field>label {
  color: blanchedalmond;
}

.performance {
  overflow: scroll;
  max-height: 350px;
  margin-bottom: 30px;
}


.fieldsLogin {
  width: 100%;
  display: inline-block;
  color: white;
}

.input {
  margin-top: 20px;
  width: 50%;
  float: left;
  text-align: center;
}

.login {
  padding-top: 20px;
  width: 50%;
  float: right;
  text-align: center;
}

#root {
  width: 100%;
}

.cooperResult {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

#dividerTopBottom {
  border-top: 1px solid rgba(166, 168, 172, 0.15);
  border-bottom: 1px solid rgba(166, 168, 172, 0.15);
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#dividerBottom {
  border-bottom: 1px solid rgba(166, 168, 172, 0.15);
}

#divider {
  margin-top: 20px;
  border-top: 1px solid rgba(166, 168, 172, 0.15);
}

#greeting {
  font-size: 28px;
  color: rgb(255, 235, 205);
}

#center {
  text-align: center;
}

.ui.input.input {
  margin-bottom: 15px;
}

h4, h1, h3 {
  color: blanchedalmond;
}

.ui.vertical.animated.button {
  width: 200px;
}

.footer {
  left: 80px;
  bottom: 0;
  margin-top: 400px;
}

#register {
  margin-top: 20px;
}

#login {
  margin-top: 20px;
}